footer {
	padding: 100px 0;
	background: var(--color-1);

	.row {
		display: flex;
		gap: 60px;
		@media screen and (max-width: 768px) {
			align-items: center;
			text-align: center;
			flex-direction: column;
		}
		&:nth-child(1) {
			margin-bottom: 80px;
		}
		&:nth-child(2) {
			text-align: center;
		}
	}

	.col {
		width: 100%;
	}

	ul {
		@include clear-list();
	}

	a,
	p {
		color: var(--color-5);
	}
}
