.skip-nav {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	background: #fff;
	opacity: 0;
	z-index: -1;
	&:focus {
		opacity: 1;
		z-index: 9999;
	}
}

header {
	nav {
		ul {
			display: flex;
			justify-content: flex-end;
			padding: 0;
			list-style: none;
		}
		li {
			margin-left: 40px;
		}
	}
	a {
		text-decoration: none;
	}
}