.skip-nav {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	background: #fff;
	opacity: 0;
	z-index: -1;
	&:focus {
		opacity: 1;
		z-index: 9999;
	}
}

header {
	background: #000;
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	ul {
		@include clear-list();
	}
	a {
		color: #fff;
	}
}
