.block.accordions {
	.row {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	summary {
		padding: 20px;
		color: #fff;
		background: #000;
		cursor: pointer;
	}
	.content {
		padding-top: 20px;
	}
}
