.block.hero {
	.row {
		display: flex;
		align-items: center;
		gap: 60px;

		@media screen and (max-width: 960px) {
			flex-direction: column;
		}
	}

	.content {
		position: relative;
		z-index: 1;
	}

	&.style-1 {
		.col {
			width: 50%;
			@media screen and (max-width: 960px) {
				width: 100%;
			}
		}

		.image {
			height: 500px;
			img {
				@include image-fit();
			}
		}
	}

	&.style-2 {
		position: relative;
		overflow: hidden;
		.content {
			padding: 200px 0;
			color: #fff;
		}
		.image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include screen(0.5);
			img {
				@include image-fit();
			}
		}
	}

	&.style-3 {
		&.content-left {
			.row {
				@media screen and (max-width: 960px) {
					flex-direction: column-reverse;
				}
			}
			.content {
				right: -100px;
				@media screen and (max-width: 960px) {
					right: 0;
				}
			}
		}

		&.content-right {
			.row {
				@media screen and (max-width: 960px) {
					flex-direction: column-reverse;
				}
			}
			.content {
				left: -100px;
				@media screen and (max-width: 960px) {
					left: 0;
				}
			}
		}

		.row {
			@media screen and (max-width: 960px) {
				gap: 0;
			}
		}

		.col {
			@media screen and (max-width: 960px) {
				width: 100%;
			}
		}

		.content {
			position: relative;
			width: 900px;
			padding: 40px;
			background: #ddd;
			@media screen and (max-width: 960px) {
				top: -60px;
				width: 100%;
				max-width: 640px;
			}
		}

		.image {
			width: 100%;
			height: 800px;
			img {
				@include image-fit();
			}
		}
	}
}
