<section class="block accordions style-1">
	<div class="wrapper">
		<div class="row">
			<div class="col items" v-for="index in 4" :key="index">
				<details class="item" aria-expanded="false">
					<summary class="title">Lorem ipsum dolor</summary>
					<div class="content">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti incidunt ex in excepturi fuga ipsa corporis nemo ea molestiae rem, exercitationem blanditiis voluptas accusantium, explicabo voluptates animi atque vero quos sapiente est reprehenderit, distinctio impedit unde? Unde dignissimos magnam nisi. Corrupti commodi, libero pariatur sequi exercitationem nostrum officia natus eaque illum eos excepturi? Corporis ad possimus dolor ex. Distinctio laborum quas enim nemo adipisci eligendi qui autem est culpa tempora, ullam error quia neque nam, cum nostrum aut nisi? Neque?</p>
						<div class="buttons">
							<a href="" class="btn">Button</a>
							<a href="" class="btn">Button</a>
						</div>
					</div>
				</details>
			</div>
		</div>
	</div>
</section>