<section class="block hero style-1 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col content">
				<h2 class="title">Lorem, ipsum dolor.</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere ea facilis, omnis unde modi a quod ullam at ab fugiat incidunt aspernatur quae optio perspiciatis nulla inventore quibusdam tenetur odit consectetur. Veritatis vero vitae distinctio doloremque eum. Dolorem dicta animi ea eum amet, officia magnam mollitia ex quasi odio et! Voluptas quis cum rerum qui facilis molestias ipsa cupiditate?</p>
			</div>
			<div class="col image">
				<img src="https://source.unsplash.com/random" alt="Place Holder">
			</div>
		</div>
	</div>
</section>

<section class="block hero style-1 content-right">
	<div class="wrapper">
		<div class="row">
			<div class="col content">
				<h2 class="title">Lorem, ipsum dolor.</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere ea facilis, omnis unde
					modi a quod ullam at ab fugiat incidunt aspernatur quae optio perspiciatis nulla inventore quibusdam
					tenetur odit consectetur. Veritatis vero vitae distinctio doloremque eum. Dolorem dicta animi ea eum
					amet, officia magnam mollitia ex quasi odio et! Voluptas quis cum rerum qui facilis molestias ipsa
					cupiditate?</p>
			</div>
			<div class="col image">
				<img src="https://source.unsplash.com/random" alt="Place Holder">
			</div>
		</div>
	</div>
</section>

<section class="block hero style-2">
	<div class="wrapper">
		<div class="row">
			<div class="col content">
				<h2 class="title">Lorem, ipsum dolor.</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere ea facilis, omnis unde
					modi a quod ullam at ab fugiat incidunt aspernatur quae optio perspiciatis nulla inventore quibusdam
					tenetur odit consectetur. Veritatis vero vitae distinctio doloremque eum. Dolorem dicta animi ea eum
					amet, officia magnam mollitia ex quasi odio et! Voluptas quis cum rerum qui facilis molestias ipsa
					cupiditate?</p>
			</div>
			<div class="col image">
				<img src="https://source.unsplash.com/random" alt="Place Holder">
			</div>
		</div>
	</div>
</section>

<section class="block hero style-3 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col content">
				<h2 class="title">Lorem, ipsum dolor.</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere ea facilis, omnis unde
					modi a quod ullam at ab fugiat incidunt aspernatur quae optio perspiciatis nulla inventore quibusdam
					tenetur odit consectetur. Veritatis vero vitae distinctio doloremque eum. Dolorem dicta animi ea eum
					amet, officia magnam mollitia ex quasi odio et! Voluptas quis cum rerum qui facilis molestias ipsa
					cupiditate?</p>
			</div>
			<div class="col image">
				<img src="https://source.unsplash.com/random" alt="Place Holder">
			</div>
		</div>
	</div>
</section>

<section class="block hero style-3 content-right">
	<div class="wrapper">
		<div class="row">
			<div class="col content">
				<h2 class="title">Lorem, ipsum dolor.</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere ea facilis, omnis unde
					modi a quod ullam at ab fugiat incidunt aspernatur quae optio perspiciatis nulla inventore quibusdam
					tenetur odit consectetur. Veritatis vero vitae distinctio doloremque eum. Dolorem dicta animi ea eum
					amet, officia magnam mollitia ex quasi odio et! Voluptas quis cum rerum qui facilis molestias ipsa
					cupiditate?</p>
			</div>
			<div class="col image">
				<img src="https://source.unsplash.com/random" alt="Place Holder">
			</div>
		</div>
	</div>
</section>