<!-- When creating new pages — be sure to include the header, copy/paste the line below. -->
<%= require('html-loader!./partials/header.html') %>

<!-- All styleguide items below should remain here in the index file. -->
<%= require('html-loader!./partials/styleguide/colors.html') %>
<%= require('html-loader!./partials/styleguide/type.html') %>
<%= require('html-loader!./partials/styleguide/form.html') %>

<!-- New components can be added below and existing ones can be edited or deleted. -->
<%= require('html-loader!./components/header.html') %>
<%= require('html-loader!./components/hero.html') %>
<%= require('html-loader!./components/cards.html') %>
<%= require('html-loader!./components/accordions.html') %>
<%= require('html-loader!./components/basic-content.html') %>
<%= require('html-loader!./components/video.html') %>
<%= require('html-loader!./components/listing.html') %>

<!-- When creating new pages — be sure to include the footer, copy/paste the line below. -->
<%= require('html-loader!./partials/footer.html') %>