<footer>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<nav>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Lorem ipsum dolor</a></li>
					</ul>
				</nav>
			</div>
			<div class="col">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, vero.</p>
			</div>
			<div class="col">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, vero.</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maxime?</p>
			</div>
		</div>
	</div>
</footer>

<!-- Avoid editing anything beyond this point — it can break stuff. -->

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
	// We make use of Vue strictly for our local development preview.
	// This is used in the static HTML footer so that it does not become
	// compiled with our main.js build.
	var app = new Vue({
		el: "#app",
		data: {
			showLabels: true,
			labels: [],
		},
		mounted: function () {
			// this.labels = document.querySelectorAll(".label");
			// if (getCookie("showLabels") == "true") {
			// 	this.showLabels = getCookie("showLabels");
			// }
		},
		updated: function () {
			this.labels = document.querySelectorAll(".label");
		},
		methods: {
			toggleLabels: function (event) {
				this.showLabels = event.target.checked;
				document.cookie = "showLabels=" + this.showLabels;

				if (this.showLabels == true) {
					this.labels.forEach((el) => {
						el.classList.remove("hide");
					});
				} else {
					this.labels.forEach((el) => {
						el.classList.add("hide");
					});
				}
			},
		},
	});
</script>
</body>

</html>