form {
	max-width: 800px;
	margin: 0 auto;
	font-family: var(--base-font-family);
	color: var(--color-1);
}

fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	font-weight: 600;
	margin-bottom: 10px;
	padding: 0;
}

label {
	display: block;
	font-weight: 600;
	margin-bottom: 0;
}



#{$all-text-inputs} {
	width: 100%;

	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--btn-font-weight);

	padding-top: var(--input-padding-top);
	padding-right: var(--input-padding-right);
	padding-bottom: var(--input-padding-bottom);
	padding-left: var(--input-padding-left);

	margin-top: var(--input-margin-top);
	margin-right: var(--input-margin-right);
	margin-bottom: var(--input-margin-bottom);
	margin-left: var(--input-margin-left);

	color: var(--input-text-color);
	background-color: var(--input-background);

	border: var(--base-border);
	border-radius: var(--base-border-radius);

	box-shadow: var(--input-box-shadow-h-offset) var(--input-box-shadow-v-offset) var(--input-box-shadow-blur) var(--input-box-shadow-spread) var(--input-box-shadow-color);

	appearance: none;
	transition: border-color var(--base-duration) var(--base-timing);

	&:focus,
	&:hover {
		outline-style: var(--focus-outline-style);
		outline-color: var(--focus-outline-color);
		outline-width: var(--focus-outline-width);
		outline-offset: var(--focus-outline-offset);
	}

	&:disabled {
		background-color: shade(var(--input-background-color), 5%);
		cursor: not-allowed;
		&:hover {
			border: var(--base-border);
		}
	}
	&::placeholder {
		color: tint(var(--color-1), 60%);
	}
}

textarea {
	resize: vertical;
}