*,
*::before,
*::after {
	box-sizing: border-box;
}

.wrapper {
	max-width: var(--site-width);
	margin: auto;
	padding: 0 2rem;
}

.block {
	margin-bottom: 100px;
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
	position: absolute;
	right: 999999999px;
	width: 0;
	height: 0;
	opacity: 0;
}

.align-left,
.text-align-left {
	text-align: left;
}

.text-align-center,
.align-center {
	text-align: center;
}

.align-right,
.text-align-right {
	text-align: right;
}