// Breakpoints
@mixin mobile-only {
	@media (max-width: 640px) {
		@content;
	}
}

// Styleguide
@mixin heading-style($heading-font-size, $heading-line-height) {
	font-size: $heading-font-size;
	font-family: var(--heading-font-family);
	font-weight: --heading-font-weight;
	line-height: --heading-line-height;
}

// Utility
@mixin link-style() {
	font-family: var(--base-font-family);
	letter-spacing: 0.155em;
	text-transform: uppercase;
}

@mixin image-cover() {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	img {
		display: none;
	}
}

@mixin clear-list() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin clear-btn() {
	background: transparent;
	border-radius: 0;
	border: none;
	box-shadow: none;
	color: var(--color-1);
	font-size: var(--base-font-size);
	height: auto;
	left: auto;
	line-height: --base-line-height;
	padding: 0;
	position: relative;
	right: auto;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transform: translate(0);
	width: auto;
	&:before,
	&:after {
		content: none;
	}
}

@mixin aspect-ratio($width, $height) {
	// https://css-tricks.com/aspect-ratio-boxes/
	// calc(591.44 / 1127.34 * 100%);
	height: 0;
	padding-top: $height / $width * 100%;
}

@mixin flex($justify: center, $align: center, $dir: row, $wrap: wrap) {
	align-items: $align;
	display: flex;
	flex-wrap: $wrap;
	justify-content: $justify;
}

@mixin display-value($var) {
	&:after {
		background-color: $var;
		content: "";
		display: block;
		height: 200px;
		position: relative;
		width: 200px;
	}
}

@mixin screen($opacity) {
	&:after {
		background: #000;
		content: "";
		height: 100%;
		left: 0;
		opacity: $opacity;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

@mixin image-fit() {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}
