table {
	border-collapse: collapse;
	margin: 0 auto;
	min-width: 500px;
	table-layout: fixed;
	text-align: left;
}

thead {
	line-height: --heading-line-height;
	vertical-align: bottom;
}

tbody {
	vertical-align: top;
}

th,
td {
	border-left: 10px solid var(--color-2);
	border-right: 10px solid var(--color-2);
	font-weight: 600;
}

th {
	background-color: transparent;
	padding: 10px;
}

tr:first-child td {
	padding-top: 0.8em;
}

td {
	padding: 0.4em 0.75em;
	position: relative;
	&:after {
		background-color: var(--btn-background);
		bottom: 0;
		content: "";
		display: block;
		height: 1px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: calc(100% - (0.75em * 2));
	}
}

td.amount {
	text-align: right;
}

tr:last-child td,
td.amount {
	&:after {
		content: none;
	}
}
