html,
.p {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	color: $base-font-color;
}

p {
	margin: 0 0 20px 0;
}

@for $index from 1 through 6 {
	h#{$index},
	.h#{$index} {
		font-size: (6em / $index);
		font-weight: $heading-font-weight;
		line-height: $heading-line-height;
		margin: 0 0 40px 0;
	}
}

a {
	color: $action-color;
	transition: all $base-duration $base-timing;
	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

blockquote {
	position: relative;
	margin: 0;
	padding: 0;
}
