html,
body {
	-webkit-font-smoothing: antialiased;
	color: var(--base-font-color);
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

// Come back and revisit
// @for $index from 1 through 6 {
// 	h#{$index},
// 	.h#{$index} {
// 		font-size: (5em / $index);
// 		font-weight: var(--heading-font-weight);
// 		line-height: var(--heading-line-height);
// 		margin: 0 0 40px 0;
// 		@media screen and (max-width: 720px) {
// 			font-size: (3em / $index);
// 		}
// 	}
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--heading-font-weight);
	line-height: var(--heading-line-height);
}

h1 {
	font-size: (5em);
	@media screen and (max-width: 720px) {
		font-size: (4em);
	}
}

h2 {
	font-size: (4.5em);
	@media screen and (max-width: 720px) {
		font-size: (3.5em);
	}
}

h3 {
	font-size: (4em);
	@media screen and (max-width: 720px) {
		font-size: (3em);
	}
}

h4 {
	font-size: (3.5em);
	@media screen and (max-width: 720px) {
		font-size: (2.5em);
	}
}

h4 {
	font-size: (3em);
	@media screen and (max-width: 720px) {
		font-size: (2em);
	}
}

h5 {
	font-size: (2.5em);
	@media screen and (max-width: 720px) {
		font-size: (1.75em);
	}
}

h6 {
	font-size: (2em);
	@media screen and (max-width: 720px) {
		font-size: (1.5em);
	}
}

p {
	margin: 0 0 20px 0;
}

a {
	color: var(--link-color);
	transition: all var(--base-duration) var(--base-timing);
	&:hover {
		color: var(--link-color-hover);
	}
	&:focus {
		outline: var(--focus-outline);
		outline-offset: var(--focus-outline-offset);
	}
}

hr {
	border-bottom: var(--base-border);
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

blockquote {
	border-left: 1px solid var(--color-1);
	margin: 80px 40px;
	padding: 20px;
	position: relative;
	p:last-of-type {
		margin-bottom: 0;
	}
}
