.wp-caption {
	position: relative;
}

.wp-caption-text {
	position: relative;
}

.sticky {
	position: relative;
}

.screen-reader-text {
	position: relative;
}

.gallery-caption {
	position: relative;
}

.bypostauthor {
	position: relative;
}

.alignright {
	position: relative;
}

.alignleft {
	position: relative;
}

.aligncenter {
	position: relative;
}
