<section class="block basic-content style-1 center-align">
	<div class="wrapper">
		<!-- If style-1, use the label -->
		<h1 class="label h3">Label</h1>
		<div class="row">
			<div v-for="index in 1" :key="index">
				<div class="col">
					<h1 class="title">
						<span class="h1 black none-derline line">Basic Content - Style 1</span>
					</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Ipsa perferendis quaerat pariatur ex consequatur
						facere alias expedita sed, excepturi dicta itaque
						asperiores a molestias et exercitationem vitae,
						consectetur libero facilis nobis fugiat iusto impedit?
					</p>
					<blockquote>
						<p>
							This is a block quote! Vestibulum id ligula porta
							felis euismod semper. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.
						</p>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit.
						</p>
						<p>
							Sed posuere consectetur est at lobortis. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.
						</p>
					</blockquote>
					<p>
						Ab architecto quae eveniet incidunt eius itaque nemo
						repudiandae ad corporis blanditiis eaque dolorum sit,
						beatae libero hic. Id, fugiat alias, voluptatibus sit
						error quidem voluptatum deleniti fugit eaque repellat
						quasi a.
					</p>
					<div class="buttons">
						<a href="#" class="btn">Button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content style-1 left-align">
	<div class="wrapper">
		<!-- If style-1, use the label -->
		<h1 class="label h3">Label</h1>
		<div class="row">
			<div v-for="index in 1" :key="index">
				<div class="col">
					<h1 class="title">
						<span class="h1 black none-derline line">Basic Content - Style 1</span>
					</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Ipsa perferendis quaerat pariatur ex consequatur
						facere alias expedita sed, excepturi dicta itaque
						asperiores a molestias et exercitationem vitae,
						consectetur libero facilis nobis fugiat iusto impedit?
					</p>
					<blockquote>
						<p>
							This is a block quote! Vestibulum id ligula porta
							felis euismod semper. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.
						</p>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit.
						</p>
						<p>
							Sed posuere consectetur est at lobortis. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.
						</p>
					</blockquote>
					<p>
						Ab architecto quae eveniet incidunt eius itaque nemo
						repudiandae ad corporis blanditiis eaque dolorum sit,
						beatae libero hic. Id, fugiat alias, voluptatibus sit
						error quidem voluptatum deleniti fugit eaque repellat
						quasi a.
					</p>
					<div class="buttons">
						<a href="#" class="btn">Button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content style-1 right-align">
	<div class="wrapper">
		<!-- If style-1, use the label -->
		<h1 class="label h3">Label</h1>
		<div class="row">
			<div v-for="index in 1" :key="index">
				<div class="col">
					<h1 class="title">
						<span class="h1 black none-derline line">Basic Content - Style 1</span>
					</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Ipsa perferendis quaerat pariatur ex consequatur
						facere alias expedita sed, excepturi dicta itaque
						asperiores a molestias et exercitationem vitae,
						consectetur libero facilis nobis fugiat iusto impedit?
					</p>
					<blockquote>
						<p>
							This is a block quote! Vestibulum id ligula porta
							felis euismod semper. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.
						</p>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit.
						</p>
						<p>
							Sed posuere consectetur est at lobortis. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.
						</p>
					</blockquote>
					<p>
						Ab architecto quae eveniet incidunt eius itaque nemo
						repudiandae ad corporis blanditiis eaque dolorum sit,
						beatae libero hic. Id, fugiat alias, voluptatibus sit
						error quidem voluptatum deleniti fugit eaque repellat
						quasi a.
					</p>
					<div class="buttons">
						<a href="#" class="btn">Button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content style-2">
	<div class="wrapper">
		<div class="row">
			<div v-for="index in 1" :key="index">
				<div class="col">
					<h2>Basic Content - Style 2 - One Column</h2>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Ipsa perferendis quaerat pariatur ex consequatur
						facere alias expedita sed, excepturi dicta itaque
						asperiores a molestias et exercitationem vitae,
						consectetur libero facilis nobis fugiat iusto impedit?
					</p>
					<blockquote>
						<p>
							This is a block quote! Vestibulum id ligula porta
							felis euismod semper. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.
						</p>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit.
						</p>
						<p>
							Sed posuere consectetur est at lobortis. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.
						</p>
					</blockquote>
					<p>
						Ab architecto quae eveniet incidunt eius itaque nemo
						repudiandae ad corporis blanditiis eaque dolorum sit,
						beatae libero hic. Id, fugiat alias, voluptatibus sit
						error quidem voluptatum deleniti fugit eaque repellat
						quasi a.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content style-2">
	<div class="wrapper">
		<div class="row">
			<div v-for="index in 2" :key="index">
				<div class="col">
					<h2>Basic Content - Style 2 - Two Columns</h2>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Ipsa perferendis quaerat pariatur ex consequatur
						facere alias expedita sed, excepturi dicta itaque
						asperiores a molestias et exercitationem vitae,
						consectetur libero facilis nobis fugiat iusto impedit?
					</p>
					<blockquote>
						<p>
							This is a block quote! Vestibulum id ligula porta
							felis euismod semper. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis
							vestibulum. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.
						</p>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit.
						</p>
						<p>
							Sed posuere consectetur est at lobortis. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.
						</p>
					</blockquote>
					<p>
						Ab architecto quae eveniet incidunt eius itaque nemo
						repudiandae ad corporis blanditiis eaque dolorum sit,
						beatae libero hic. Id, fugiat alias, voluptatibus sit
						error quidem voluptatum deleniti fugit eaque repellat
						quasi a.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>