<section class="block listing grid style-1">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="items">

					<div class="item post" v-for="index in 3" :key="'item-post'+ index">
						<div class="item-wrapper">
							<div class="image" style="backgroundImage: url('https://source.unsplash.com/random')">
								<img src="https://source.unsplash.com/random" alt="Placeholder image" />
							</div>
							<div class="text">
								<div class="meta">
									<h2 class="title">Lorem ipsum dolor</h2>
									<p class="date">Saturday, June 27th, 2019</p>
									<ul class="category">
										<li>Category, </li>
										<li>Category</li>
									</ul>
									<p class="author">Author</p>
									<div class="buttons">
										<a href="#" class="btn">
											Button
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="item event" v-for="index in 3" :key="'item-event'+ index">
						<div class="item-wrapper">
							<div class="image" style="backgroundImage: url('https://source.unsplash.com/random')">
								<img src="https://source.unsplash.com/random" alt="Placeholder image" />
							</div>
							<div class="text">
								<div class="meta">
									<h2 class="title">Lorem ipsum dolor</h2>
									<p class="date">Saturday, June 27th, 2019</p>
									<ul class="category">
										<li>Category, </li>
										<li>Category</li>
									</ul>
									<p class="author">Author</p>
									<div class="buttons">
										<a href="#" class="btn">
											Button
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="item record" v-for="index in 4" :key="'item-record'+ index">
						<div class="item-wrapper">
							<div class="image" style="backgroundImage: url('https://source.unsplash.com/random')">
								<img src="https://source.unsplash.com/random" alt="Placeholder image" />
							</div>
							<div class="text">
								<div class="meta">
									<h2 class="title">Lorem ipsum dolor</h2>
									<p class="date">Saturday, June 27th, 2019</p>
									<ul class="category">
										<li>Category, </li>
										<li>Category</li>
									</ul>
									<p class="author">Author</p>
									<div class="buttons">
										<a href="#" class="btn">
											Button
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>